{% extends "layout/base.html" %}

{% block site_wrapper %}
{% autoescape off %}
<div id="intro_noticias">
	<h1 class="container">
		Noticias
	</h1>
</div>
<div class="container">
	<div class="main_news_column">
		<div class="news_block">
			<div class="news_data">
				<p class="date">15 marzo</p>
				<p class="author">Por: <span>Dirección CR</span></p>
				<a href="noticias/banco-de-sangre" title="Banco de sangre" class="category">Banco de sangre</a>
				<div class="social_share">
					<p>Compartir</p>
					<ul>
						<li class="first facebook"><a href="#" title="Compártelo en facebook">Facebook</a></li><li class="twitter"><a href="#" title="Compártelo en Twitter">Twitter</a></li>
					</ul>
				</div>
			</div><div class="news_body">
				<h2><a href="/noticias/permalink123" title="Lee más de esta noticia">Arranca Colecta Escolar de 
				Cruz Roja Tijuana</a></h2>
				<img src="/static/images/fe/news/preview_image_placeholder.jpg" alt="placeholder">
				<p>Tijuana. Baja California a marzo 2013.- a Escuela Primaria Alba Roja fue sede del arranque de la Colecta Escolar de Cruz Roja Delegación Tijuana, en la que participarán más de 356 mil alumnos, quienes recibirán diversos incentivos de parte del equipo de fútbol Club Tijuana Xolos.</p>

				<p>Durante el “banderazo” inicial, el Presidente del Consejo Directivo de la Benemérita Institución, Lic. Salvador Gutiérrez González, resaltó que la cooperación del Sistema Educativo Estatal (SEE), es de gran importancia para alcanzar la meta que este año es de cinco millones de pesos.</p>

				<a href="/noticias/permalink123" title="Lee más de esta noticia" class="plus_button">Continuar leyendo</a>
			</div>
		</div>
		<div class="news_block">
			<div class="news_data">
				<p class="date">15 marzo</p>
				<p class="author">Por: <span>Dirección CR</span></p>
				<a href="noticias/banco-de-sangre" title="Banco de sangre" class="category">Banco de sangre</a>
				<div class="social_share">
					<p>Compartir</p>
					<ul>
						<li><a href="#" title="Compártelo en facebook" class="facebook first">Facebook</a></li><li class="twitter"><a href="#" title="Compártelo en Twitter">Twitter</a></li>
					</ul>
				</div>
			</div><div class="news_body">
				<h2><a href="/noticias/permalink123" title="Lee más de esta noticia">Arranca Colecta Escolar de 
				Cruz Roja Tijuana</a></h2>
				<img src="/static/images/fe/news/preview_image_placeholder.jpg" alt="placeholder">
				<p>Tijuana. Baja California a marzo 2013.- a Escuela Primaria Alba Roja fue sede del arranque de la Colecta Escolar de Cruz Roja Delegación Tijuana, en la que participarán más de 356 mil alumnos, quienes recibirán diversos incentivos de parte del equipo de fútbol Club Tijuana Xolos.</p>

				<p>Durante el “banderazo” inicial, el Presidente del Consejo Directivo de la Benemérita Institución, Lic. Salvador Gutiérrez González, resaltó que la cooperación del Sistema Educativo Estatal (SEE), es de gran importancia para alcanzar la meta que este año es de cinco millones de pesos.</p>

				<a href="/noticias/permalink123" title="Lee más de esta noticia" class="plus_button">Continuar leyendo</a>
			</div>
		</div>
	</div><div class="side_data_column">
		<h3>Categorías</h3>
		<ul id="category_list">
			<li><a href="noticias/donativos" title="Ver noticias de la categoría donativos">Donativos</a><li>
			<li><a href="noticias/hospital" title="Ver noticias de la categoría hospital">Hospital</a><li>
			<li><a href="noticias/campanas" title="Ver noticias de la categoría campañas">Campañas</a><li>
			<li><a href="noticias/eventos" title="Ver noticias de la categoría eventos">Eventos</a><li>
		</ul>
		<h3>Archivo</h3>
		<p id="archive_list">Seleccionar Mes</p>
	</div>
</div>
<!-- Inicia single view -->

<div id="intro_noticias">
	<h2 class="container">
		Noticias
	</h2>
</div>

<div class="container">
	<div class="main_news_column">
		<div class="news_block">
			<div class="news_data">
				<p class="date">15 marzo</p>
				<p class="author">Por: <span>Dirección CR</span></p>
				<a href="noticias/banco-de-sangre" title="Banco de sangre" class="category">Banco de sangre</a>
				<div class="social_share">
					<p>Compartir</p>
					<ul>
						<li class="first facebook"><a href="#" title="Compártelo en facebook">Facebook</a></li><li class="twitter"><a href="#" title="Compártelo en Twitter">Twitter</a></li>
					</ul>
				</div>
			</div><div class="news_body">
				<h1><a href="/noticias/permalink123" title="Lee más de esta noticia">Arranca Colecta Escolar de 
				Cruz Roja Tijuana</a></h1>
				<img src="/static/images/fe/news/preview_image_placeholder2.jpg" alt="placeholder">
				<p>Tijuana. Baja California a marzo 2013.- a Escuela Primaria Alba Roja fue sede del arranque de la Colecta Escolar de Cruz Roja Delegación Tijuana, en la que participarán más de 356 mil alumnos, quienes recibirán diversos incentivos de parte del equipo de fútbol Club Tijuana Xolos.</p>

				<p>Durante el “banderazo” inicial, el Presidente del Consejo Directivo de la Benemérita Institución, Lic. Salvador Gutiérrez González, resaltó que la cooperación del Sistema Educativo Estatal (SEE), es de gran importancia para alcanzar la meta que este año es de cinco millones de pesos.</p>
				
				<p>“Ustedes se deben sentir orgullosos cuando vean pasar una ambulancia por las calles, ya que con lo juntan en sus sobres, ayudan a comprar el combustible que necesitan para atender las emergencias que reporta la ciudadanía al 066”, expresó.</p>

				<p>La institución requiere de la ayuda de toda la población para seguir operando, pues al no depender del presupuesto de ningún gobierno, son muchas las necesidades que se tienen para cubrir los gastos mensuales de operación, subrayó.</p>
				
				<img src="/static/images/fe/news/preview_image_placeholder3.jpg" alt="placeholder">
				
				<p>Gutiérrez González destacó que los incentivos para las escuelas con mejor participación en la Colecta Escolar son 15 boletos para un partido de Xolos, el sábado 20 de abril contra Monarcas, Morelia.</p>
				<p>Así como dos visitas para 25 niños a entrenamiento en el estadio y sesión de autógrafos, artículos promocionales, la visita del equipo a una escuela y  la que supere su participación del año pasado, se llevará un balón conmemorativo de campeón de Colecta y Xolos, precisó.</p>
				<p>Por su parte el Delegado del SEE, Ezequías Kim Hernández, especificó que serán más de 350 mil alumnos de nivel básico, de un total de mil 470  escuelas de Nivel Básico, los que se sumarán a la colecta durante esta edición.</p>
				<p>Recordó que hace 10 años la Colecta Escolar logró reunir 300 mil pesos, mientras que la de 2012 casi se alcanzaron los dos millones de pesos, lo que demuestra la importancia que tiene este sector para le meta que se propone la Cruz Roja.</p>
				
				<img src="/static/images/fe/news/preview_image_placeholder4.jpg" alt="placeholder">
				<p>“Esperamos este año superar lo recaudado, ya que los alumnos están muy motivados ante la serie de incentivos de parte del Club Tijuana que le darán a las escuelas que aumenten sus aportaciones”,</p>
				<p>En la ceremonia los alumnos de la Primaria Alba Roja, realizaron una representación teatral del trabajo que realiza la Benemérita Institución, mientras que la mascota de los Xolos de Tijuana “El Xolo Mayor”, estuvo presente para exhortar a la participación.
				</p>
				<p>También se entregaron los sobres con la aportación escolar y los alumnos que lo hicieron recibieron de parte de las autoridades de la Cruz Roja una calcomanía del equipo de fútbol.</p>
				
				

				

				

				
				
			</div>
		</div>
	</div><div class="side_data_column">
		<h3>Categorías</h3>
		<ul id="category_list">
			<li><a href="noticias/donativos" title="Ver noticias de la categoría donativos">Donativos</a><li>
			<li><a href="noticias/hospital" title="Ver noticias de la categoría hospital">Hospital</a><li>
			<li><a href="noticias/campanas" title="Ver noticias de la categoría campañas">Campañas</a><li>
			<li><a href="noticias/eventos" title="Ver noticias de la categoría eventos">Eventos</a><li>
		</ul>
		<h3>Archivo</h3>
		<p id="archive_list">Seleccionar Mes</p>
	</div>
	<hr>
	<div id="news_nav">
		<a href="/noticias" title="Ir a noticias" class="first">Ir a noticias</a><a href="/noticias/fecha" title="Ir a noticias anteriores">Noticias anteriores</a>
	</div>
</div>
<!-- Termina single view -->
{% endautoescape %}
{% endblock %}
